<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--<plugin type="org.mybatis.generator.plugins.SerializablePlugin" />-->
        <!--数据库连接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/seckill?serverTimezone=UTC"
                        userId="root"
                        password="admin123"
        />
        <!--DTO类存放位置-->
        <javaModelGenerator targetPackage="com.hackhu.seckill.dto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--Dao类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.hackhu.seckill.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--<table tableName="user_info" domainObjectName="UserDTO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false" />-->
        <!--<table tableName="user_password" domainObjectName="UserPasswordDTO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false" />-->
        <!--<table tableName="item" domainObjectName="ItemDTO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false" />-->
        <!--<table tableName="item_stock" domainObjectName="ItemStockDTO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false" />-->
<!--        <table tableName="order_info" domainObjectName="OrderInfoDTO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false" />-->
<!--        <table tableName="sequence_info" domainObjectName="SequenceInfoDTO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false" />-->
<!--        <table tableName="promo" domainObjectName="PromoDTO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false" />-->
    </context>
</generatorConfiguration>